.BrandDiv {
    text-align: center;
    border-bottom-color: black;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    background-color: black;
}

/* Mobile */
.brandImage {
    width: 40%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 0px;
    display: inline-block;
}

/* Tablet */
@media (min-width:641px)  {
    .brandImage {
        width: 25%;
        height: auto;
    }
}

/* Desktops */
@media (min-width:1025px) {
    .brandImage {
        width: 12%;
        height: auto;
    }
}

@media (min-width:1281px) {
    .brandImage {
        width: 10%;
        height: auto;
    }
}
