.BrandDiv {
    text-align: center;
    border-bottom-color: black;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    /* border-bottom-color: #242322; */

    background-color: black;

    /* position: fixed;
    top:0;
    width:100%;
    z-index:100; */

    /* position:fixed;
    top:0;
    width:100%;
    z-index:100; */
}

.BrandDiv img {
    /* max-width: 10%; */
    height: auto;
    padding-top: 10px;
    padding-bottom: 0px;
    display: inline-block;
}
