.CarouselDiv {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;

    border-bottom-color: black;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: #F1EDEC;
}
