.CopyrightOuterWrapper {
    border-bottom-color: black;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: #F1EDEC;
}

/* Mobile */
.CopyrightDiv {
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;

    background-color: #f0f0f0;
    color: black;

    text-align: center;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
}

/* Tablet */
@media (min-width:641px)  {
    .CopyrightDiv {
        margin: 1% 1% 0% 1%;
        font-size: 18px;
    }
}

/* Desktops */
@media (min-width:1024px) {
    .CopyrightDiv {
        font-size: 24px;
    }
}

/* Large Desktops */
@media (min-width:1281px) {
    .CopyrightDiv {
        margin-top: 0.5%;
        margin-left: 6%;
        margin-right: 6%;
        font-size: 14px;
    }
}
