.FooterOuterWrapper {
    border-bottom-color: black;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: #F1EDEC;


}

.FooterDiv {
    text-align: center;
    padding: 10px;
    /* padding-top: 10px; */
    /* padding-bottom: 30px; */
    background-color: #f0f0f0;
    color: black;

    font-size: 14px;
    font-family: 'Roboto Mono', monospace;

    margin: 10px;
    margin-left: 120px;
    margin-right: 120px;
}

.TempList {
    list-style-type: none;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}

.TempList li {
    margin-top: 3px;
    margin-bottom: 3px;
}

.TempList a {
    color: black;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
}

.TempList a:hover {
    color: grey;
    /* text-decoration: underline; */
}

.ListTitle {
    /* font-size: 14px; */
    padding-bottom: 10px;
    font-weight: bolder;
}
