.MailingListOuterWrapper {
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: #F1EDEC;
    /* border-bottom-color: red; */
}

/* Mobile */
.MailingListDiv {
    text-align: center;

    font-size: 12px;
    font-family: 'Roboto Mono', monospace;

    padding-top: 6%;
    padding-bottom: 6%;
    background-color: #f0f0f0;
}

label {
    font-weight: bold;
    margin-left: 0.5%;
    margin-right: 0.5%;
    color: #242323;
}

input[type=text] {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    padding: 2% 0% 2% 2%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    padding: 2.5% 2% 2.5% 2%;
    border: 1px solid #ccc;
    margin-left: 2%;
    background-color: #242323;
    color: white;
}

input::placeholder {
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
}

/* Tablet */
@media (min-width:641px)  {
    .MailingListDiv {
        margin: 1%;
        font-size: 18px;
    }

    label {
        font-size: 20px;
    }

    input[type=text] {
        padding: 2% 2% 2% 2%;
    }

    input[type=submit] {
        font-size: 14px;
    }

    input::placeholder {
        font-size: 18px;
    }
}

/* Desktops */
@media (min-width:1024px) {
    .MailingListDiv {
        margin: 1%;
        font-size: 18px;
    }

    label {
        font-size: 24px;
    }

    input[type=text] {
        width: 30%;
        padding: 2% 2% 2% 2%;
    }

    input[type=submit] {
        font-size: 20px;
    }

    input::placeholder {
        font-size: 24px;
    }
}

/* Large Desktops */
@media (min-width:1281px) {
    .MailingListDiv {
        font-size: 16px;

        padding-top: 20px;
        padding-bottom: 20px;

        margin: 0.5%;
        margin-left: 6%;
        margin-right: 6%;
    }

    label {
        font-size: 16px;
    }

    input[type=text] {
        font-size: 16px;
        width: 20%;
        padding: 12px 20px;
        border: 1px solid #ccc;
    }

    input[type=submit] {
        font-size: 16px;
        padding: 12px 20px;
        border: 1px solid #ccc;
        margin-left: 8px;
    }

    input::placeholder {
        font-size: 16px;
    }
}
