.topNavDiv {
    overflow: hidden;
    margin: 0;
    text-align: center;
    /* border-bottom-color: black;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: #F1EDEC; */
    background-color: black;

    /* position: fixed;
    top:0;
    width:100%;
    z-index:100; */
    /* margin-top: 5%; */ 
}

.headerSection {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    padding-top: 11px;
    padding-bottom: 11px;
    height: 100%;
}

a {
    display: inline;
    color: white;
    padding-left: 14px;
    padding-right: 14px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
}

.headerSection:hover {
    color: orange;
}
