a {
    display: inline;
    color: #5A5554;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto Mono', monospace;
}

.topNavDiv {
    overflow: hidden;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom-color: black;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: #F1EDEC;
}

.topNavDiv a:hover {
    color: black;
    text-decoration: underline;
}
