.topNav {
    overflow: hidden;
    margin: 0;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    /* background-color: #F1EDEC; */
    border-bottom-color: black;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: #F1EDEC;
}

/* Style the links inside the navigation bar */
a {
    display: inline;
    color: #5A5554;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto Mono', monospace;
}

/* Change the color of links on hover */
.topNav a:hover {
    color: black;
    text-decoration: underline;
}
