.ProductDisplayOuterWrapper {
    border-bottom-color: black;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: #F1EDEC;
}

/* Mobile */
.ProductDiv {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
}

.Category {
    font-size: 14px;
    padding-left: 5%;
    color: #545252;
    text-align: left;
    float: left;
}

.Category2 {
    font-size: 14px;
    padding-right: 5%;
    color: #545252;
    float: right;
}

.DisplayImages {
    display: inline-block;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: #F1EDEC;
}

.DisplayImage {
    width: 100%;
    height: auto;
    float: left;
}

.ProductInfo {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;

    vertical-align: top;

    overflow: hidden;
}

.NameOfProduct {
    margin-top: 2%;
    margin-bottom: 5%;
    display: inline-block;
    padding-left: 5%;
    font-size: 26px;
}

.AddToCartDiv {
    display: inline-block;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: "Helvetica Neue";
    padding: 0;
    margin: 0;
    font-size: 16px;
    position: sticky;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
    text-decoration: underline;
}

.TempFiller {
    background-color: #F3EDEC;
}

.ProductInfo li {
    margin-left: -5%;;
}

/* Tablet */
@media (min-width:641px)  {

}

/* Desktops */
@media (min-width:1024px) {

}

/* Large Desktops */
@media (min-width:1281px) {

}
