.ProductImagesOuterWrapper {
    border-bottom-color: black;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: #F1EDEC;

    width: 100%;
}

.ProductDiv {
    /* padding: 40px 0px 20px 0px; */
    margin: 40px 160px 20px 160px;

    display: flex;
}

.DisplayImages {
    display: inline-block;
    margin-right: 20px;
    box-sizing: border-box;
}

.ProductInfo {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;

    height: auto;
    margin-left: 20px;
    display: inline-block;

    vertical-align: top;

    overflow: hidden;
}

.NameOfProduct {
    font-size: 20px;
}

.ProductDescription {
    font-size: 17px;
    padding-bottom: 20px;

    border-bottom-color: black;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: #F1EDEC;
}

.tbd3 {
    width: 800px;
    height: auto;
}

.BuyButton {
    font-size: 18px;
    color: black;
    text-decoration: underline;
}

.BuyButton:hover {
    color: purple;
}
