.ProductDisplayOuterWrapper {
    border-bottom-color: black;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: #F1EDEC;
}

/* Mobile */
.ProductDiv {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
}

.Category {
    font-size: 14px;
    padding-left: 5%;
    color: #545252;
    text-align: left;
    float: left;
}

.Category2 {
    font-size: 14px;
    padding-right: 5%;
    color: #545252;
    float: right;
}

.DisplayImages {
    display: inline-block;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: #F1EDEC;
}

.DisplayImage {
    width: 100%;
    height: auto;
    float: left;
}

.ProductInfo {
    box-sizing: border-box;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color: #454545;
    height: auto;
    margin: 5% 5% 8% 5%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.CategoryParent {
    height: 17px;
}

.NameOfProduct {
    margin-top: 2%;
    margin-bottom: 5%;
    display: inline-block;
    padding-left: 5%;
    font-size: 26px;
}

.AddToCartDiv {
    display: inline-block;
    font-family: "Helvetica Neue";
    padding: 0;
    margin: 0;
    font-size: 16px;
    position: sticky;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
    text-decoration: underline;
}

.SelectSizeDiv {
    text-align: center;
    padding-top: 5%;
}

.SelectSizeButtons {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.SelectSizeButtons button {
    background-color: white;
    color: black;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    width: 20%;
    padding: 10px;
    margin: 5px;
}

.DisabledSizeButton {
    opacity: 0.6;
    cursor: not-allowed;
}

.TempFiller {
    background-color: #F3EDEC;
}

.ProductInfo li {
    margin-left: -5%;
    font-size: 15px;
}

/* Tablet */
@media (min-width:641px)  {
    .CategoryParent span {
        font-size: 20px;
    }
    .CategoryParent {
        height: 28px;
    }
    .NameOfProduct {
        font-size: 28px;
    }
    .AddToCartDiv {
        font-size: 22px;
    }
    .SelectSizeDiv {
        font-size: 22px;
    }
    .SelectSizeButtons button {
        border: 2px solid #dbdbdb;
        width: 12%;
        padding: 12px;
        margin: 10px;
        font-size: 22px;
    }
    .ProductInfo {
        font-size: 20px;
        margin: 5% 5% 8% 5%;
    }
    .ProductInfo li {
        margin-left: 0;
        font-size: 17px;
    }
}

/* Desktops */
@media (min-width:1024px) {
    .CategoryParent span {
        font-size: 26px;
    }
    .CategoryParent {
        height: 32px;
    }
    .NameOfProduct {
        font-size: 44px;
    }
    .AddToCartDiv {
        font-size: 30px;
    }
    .SelectSizeDiv {
        font-size: 32px;
    }
    .SelectSizeButtons button {
        border: 2px solid #dbdbdb;
        width: 10%;
        padding: 12px;
        margin: 10px;
        font-size: 28px;
    }
    .ProductInfo {
        font-size: 30px;
        margin: 5% 5% 8% 5%;
    }
    .ProductInfo li {
        margin-left: 0;
        font-size: 25px;
    }
}

/* Large Desktops */
@media (min-width:1281px) {
    .ProductDiv {
        margin-top: 2%;
    }
    .AddToCartDiv {
        position: static;
        bottom: auto;
    }
    .DisplayImage {
        width: 50%;
        height: auto;
        float: left;
    }
    .CategoryParent span {
        font-size: 20px;
    }
    .CategoryParent {
        height: 24px;
    }
    .NameOfProduct {
        font-size: 34px;
    }
    .AddToCartDiv {
        font-size: 22px;
    }
    .SelectSizeDiv {
        font-size: 22px;
    }
    .SelectSizeButtons button {
        border: 1px solid #dbdbdb;
        width: 10%;
        padding: 10px;
        margin: 10px;
        font-size: 22px;
    }
    .ProductInfo {
        font-size: 20px;
        margin: 5% 5% 8% 5%;
    }
    .ProductInfo li {
        margin-left: 0;
        font-size: 17px;
    }
}
