/* Mobile */
.ShowcaseProductOuterWrapper {
    padding: 0 1% 10% 1%;
    width: 48%;

    vertical-align: top;
}

.ShowcaseProductDiv {
    text-align: center;
    color: black;
}

.ShowcaseText {
    padding-top: 5%;
    padding-left: 5%;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.ShowcaseTextName {
    font-size: 17px;
    padding: 0;
    margin: 0;
}

.ShowcaseTextRest {
    padding: 0;
    padding-top: 5px;
    margin: 0;
    font-size: 15px;
    color: #383838;
}

.ShowcaseTextPrice {
    padding-top: 5px;
    margin: 0;
    font-size: 17px;
    color: #383838;
}

.ShowcaseImg {
    width: 100%;
    height: auto;
    opacity: 0.8;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.ShowcaseProductDiv:hover > .ShowcaseImg {
    opacity: 1;
    transform: scale(1.02);
    transform-origin: 50% 50%;
}

.LinkClass {
    padding: 0;
    margin: 0;
}

/* Tablet */
@media (min-width:641px)  {
    .ShowcaseTextName {
        font-size: 22px;
        padding-bottom: 1%;
    }
    .ShowcaseTextRest {
        font-size: 20px;
        padding-bottom: 1%;
    }
    .ShowcaseTextPrice {
        font-size: 22px;
    }
}

/* Desktops */
@media (min-width:1024px) {
    .ShowcaseTextName {
        font-size: 30px;
        padding-bottom: 1%;
    }
    .ShowcaseTextRest {
        font-size: 28px;
        padding-bottom: 1%;
    }
    .ShowcaseTextPrice {
        font-size: 30px;
    }
}

/* Large Desktops */
@media (min-width:1281px) {
    .ShowcaseProductOuterWrapper {
        padding: 0 1% 4% 1%;
        width: 23%;
        display: inline-block;

        /* border-color: red;
        border-style: inset;
        border-width: 1px; */
    }

    .ShowcaseProductDiv {
        text-align: center;
        color: black;
    }

    .ShowcaseText {
        padding-top: 5%;
        padding-left: 5%;
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }

    .ShowcaseTextName {
        font-size: 17px;
        padding: 0;
        margin: 0;
    }

    .ShowcaseTextRest {
        padding: 0;
        padding-top: 5px;
        margin: 0;
        font-size: 15px;
        color: #383838;
    }

    .ShowcaseTextPrice {
        padding-top: 5px;
        margin: 0;
        font-size: 17px;
        color: #383838;
    }
}
