.SocialsOuterWrapper {
    border-bottom-color: black;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: #F1EDEC;
}

.SocialsDiv {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f0f0f0;
    color: black;
    margin: 20px;

    font-family: 'Roboto Mono', monospace;
}

.socialMediaLogo {
    width: 48px;
    height: auto;
    margin: 0px 20px 0px 20px;
}
