.SocialsOuterWrapper {
    border-bottom-color: black;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    /* border-bottom-color: #F1EDEC; */
    border-bottom-color: red;
}

/* Mobile */
.SocialsDiv {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #f0f0f0;
    color: black;

    font-family: 'Roboto Mono', monospace;
}

.socialMediaLogo {
    width: 10%;
    height: auto;
    margin: 0;
    margin: 0 2% 0 2%;
}


/* Tablet */
@media (min-width:641px)  {
    .SocialsDiv {
        margin: 1%;
    }
    .socialMediaLogo {
        width: 8%;
    }
}

/* Desktops */
@media (min-width:1024px) {
    .SocialsDiv {
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .socialMediaLogo {
        width: 6%;
    }
}

/* Large Desktops */
@media (min-width:1281px) {
    .SocialsDiv {
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0.5%;
        margin-left: 6%;
        margin-right: 6%
    }

    .socialMediaLogo {
        width: 48px;
        margin: 0px 20px 0px 20px;
    }
}
